*{
    margin:0;
    padding: 0;

}
:root{
    --logo-color: rgb(20, 196, 20); 
    --shadow-color: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
    --background-web:rgb(240, 242, 245);
}
body::-webkit-scrollbar{
    display: none;

}
body{
    font-family: Arial, Helvetica, sans-serif;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow: auto;
    cursor: pointer;
}
.background-img{
    background-image: url("../img/Cloths-bc740630f228713e4bb0de8a7bffce22.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    transition: all 0.3s ease 0.3s;
}
.background-img:hover{
    box-shadow: var(--shadow-color);
}
/* Nav bar */
.font-style{
    color:var(--logo-color) ;
}
.nav-link{
    list-style: none;
}
.nav-link li{
    display: inline-block;
}

.brand-logo{
    margin-right: auto;
}
.brand-logo a{
    font-size: 20px;
    text-decoration: none;
    color: black;
}
.join-link{
    color: black;
    border: 1px solid gray;
    box-shadow:var(--shadow-color);
}
.join-link:hover{
    color: white;
    background-color: rgb(122, 115, 115);
}
.nav-link li a{

    padding: 10px 28px 10px 28px;
    transition: all 0.3s ease 0.3s;
    text-decoration: none;
}
.Help{
    color: black;
}
.Help:hover{
    color:gray;
}
.contain{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top:3%;
    padding-left: 5%;
    padding-right: 5%;
}
.icon-help{
    width: 20px;
    vertical-align: middle;
}

/* shop image */
.shop-image{
    margin-top: 2%;
    
    height: 50%;
    /* background-position: center; */
    text-align: center;
    padding: 5%;
}
.shop-text{
    padding: 2%;
    font-weight: bold;
    margin: auto;
    font-size: 20px;
    
    transition: all 0.3s ease 0.3s;
}
.shop-text:hover{
    color: gray;
}
.shop-para{
    color: gray;
    transition: all 0.3s ease 0.3s;
}
.shop-para:hover{
    color: black;
}
.search-product{
    padding: 5%;
}
.search-child{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    width: 50%;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 1%;
    border-radius: 50px;
    border: none;
    transition: all 0.1s ease 0.1s;
    border: 1px solid gray;
}
.search-child:hover{
    border:none;
    box-shadow: var(--shadow-color);

}

/* card-otherstuff */
.card-content{
    display: flex;
    padding: 10px;
    flex-wrap: wrap;
}
.card-body{
    margin: 2%;
    display: flex;
   
    align-items: center;
    padding: 25px 20px 25px 20px;
 
    justify-content: flex-end;
    width: 26%;
    /* border: 1px solid black; */
}
.card-text{
    margin-right: auto;
}
.card-body:hover{
    box-shadow: var(--shadow-color);
}
.title-card{
    color: white;
    padding-bottom:10px ;
    font-weight: bold;
    margin-bottom: 2%;
}
.description-card{
    color: white;
    padding-bottom: 10px;
    font-size: 15px;
    margin-bottom: 30%;
}

.card-text a{
    background-color: white;
    padding: 12px 10px 12px 10px;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    color: black;
    box-shadow: var(--shadow-color);
    transition: all 0.3s ease 0.3s;
    
}
.card-text a:hover{
    background-color: gray;
    color: white;
}
.delivery-img{
    width:100px;
}
/* sidebar */
.container-content{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.content-link{
    width: 16%;
    padding-top: 2px;

}

.content-link a{
    text-decoration: none;
    color: gray;
    font-weight: bold;
}
.content-link a:hover{
    color: black;
    
}
.content-link .active{
    color: black;
    opacity: 1;
}
.content-link li{
    opacity: 0.5;
    padding: 10px;
}
.content-link li:hover{
    opacity: 1;
}
.content-link ul{
    list-style: none;
}
.content-link img{
    width: 40px;
    vertical-align:middle;
}
/* content web */
.content-web{
    display: flex;
    flex-wrap: wrap;
    background-color: var(--background-web);
    width: 84%;
}

/* responsive */
@media screen and (max-width:1246px){
    /* .card-body{
        width: 26%;
    } */
}
@media screen and (max-width:1200px){
    .card-content{
        justify-content: center;
    }
    .card-body{
        margin-left: 2%;
        width: 25%;
    }
}
@media screen and (max-width:900px){
    .content-web{
        width: 75%;
    }
    .content-link{
        width: 25%;
    }
    .content-link a{
        font-size: 14px;
        font-weight: bold;
    }
    .brand-logo a{
        font-size: 16px;
    }
    .shop-text{
        font-size: 16px;
    }
    .shop-para{
        font-size: 14px;
    }
    .join-link{
        font-size: 14px;
    }
    .Help{
        font-size: 14px;
    }
    .card-content{
        justify-content: center;
    }
    .card-body{
        width: 90%;
    }
}
@media screen and (max-width:900px){
    .content-web{
        width: 75%;
    }
    .content-link{
        width: 25%;
    }
    .content-link a{
        font-size: 14px;
        font-weight: bold;
    }
    .brand-logo a{
        font-size: 16px;
    }
    .shop-text{
        font-size: 16px;
    }
    .shop-para{
        font-size: 14px;
    }
    .join-link{
        font-size: 14px;
    }
    .Help{
        font-size: 14px;
    }
    .card-content{
        justify-content: center;
    }
    .card-body{
        width: 90%;
    }
}
@media screen and (max-width:768px){
    
    .brand-logo a{
        font-size: 16px;
    }
    .shop-text{
        font-size: 16px;
    }
    .shop-para{
        font-size: 14px;
    }
    .join-link{
        font-size: 14px;
    }
    .Help{
        font-size: 14px;
    }
    .card-content{
        justify-content: center;
    }
    .card-body{
        width: 80%;
    }
    
 
}
@media screen and (max-width:687px){
    .content-web{
        width: 100%;
    }
    /* navbar */
    .content-link{
        width: 100%;
    }
    .brand-logo a{
        font-size: 12px;
    }
    .nav-link li a{
        padding: 4px 8px 4px 8px;
        text-decoration: none;
    }
    .icon-help{
        width:15px ;
    }
    .join-link{
        font-size: 10px;
    }
    .Help{
        font-size: 10px;
    }
    /* shop-image */
    .shop-text{
        font-size: 12px;
    }
    .shop-para{
        font-size: 10px;
    }
    .search-child{
        font-size: 10px;
    }
}

